%header
  .row
    .large-12.columns
      %h2
        =link_to 'OneDayTours', root_path
%nav.top-bar{"data-topbar" => ""}
  .botones.top-bar-section
    %ul
      %li.name
        %h1
          =link_to 'Inicio', root_path
      %li.name
        %h1
          =link_to 'Servicios', tours_path
      %li.name
        %h1
          =link_to '¿Quienes somos?', about_path
      %li.name
        %h1
          =link_to 'Condiciones de Servicio', terms_path
      %li.name
        %h1
          =link_to 'Contáctenos', contact_path
